.barcelona{
    height: 500px;
    background-image: url(download.jpg);
    width: 50%;
}
nav li a{
    text-decoration: none;
}
nav li {
    list-style: none; 
     display: inline;
     margin-right: 280px;     
}
nav li :hover{
background-color: aquamarine;
}
.sami{
    background-color: cadetblue;
    text-align: center;
    color: blanchedalmond;
    margin: 40px solid;
}

table{
    border-collapse: collapse;
    align-items: center;
    background-color: turquoise;
    
}
td,th{
    border: 2px solid red;
    padding: 10px 15px ;
    justify-content: center;
}
caption{
    color: purple;
    text-decoration: double;
    text-shadow: none;
}
.table-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

